.footer__container {
	background: url("../images/footer__background.jpg") no-repeat bottom;
	overflow: hidden;
	.footer {
		margin: 45px auto 0;
		width: 768px;
		.footer__menu {
			margin: 0 0 30px 0;
			display: block;
			text-align: left;
			.footer__menu-wrapper {
				& > li {
					display: inline-block;
					& > a {
						margin: 0 25px;
						text-decoration: none;
						font: 20px "League Gothic";
						color: #fff;
						text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
						&:hover {
							text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
						}
					}
				}
			}
		}
		.footer__link {
			margin: 40px 20px 85px 0;
			text-align: right;
			font: 12px "OpenSans Light";
			color: #fff;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
			& > a {
				margin-left: 3px;
				font: 12px "OpenSans Extrabold";
				text-decoration: none;
				color: #fff;
			}
		}
	}
}