* {
    margin: 0;
    padding: 0;
}
body {
    color: #e6e6e6;
    font-family: Tahoma;
    background: url(../img/background.jpg) #050505 no-repeat center;
}
.main {
    margin: 0 auto;
    padding-top: 55px;
    min-height: 880px;
    width: 815px;
}
.header {
    height: 145px;
}
.logo {
    height: 145px;
    width: 270px;
    display: block;
    float: left;
    background: url("../img/logo.png");
    text-decoration: none;
    color: #e6e6e6;
    text-align: center;
}
.logo p{
    padding-top: 120px;
    font-size: 11px;
}
.contact {
    padding-top: 90px;
    width: 130px;
    float: right;
    font-size: 11px;
    text-align: left;
}
.contact p:first-child {
    font-weight: bold;
}
.container {
    min-height: 450px;
}
.slide_bar {
    height: 250px;
}
.slide {
    text-align: center;
    width: 262px;
    height: 182px;
    display: block;
    float: left;
}
.slide div{
    width: 254px;
    height: 174px;
    border: ridge 4px #b2b2b2;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 0px 3px 2px black;
    -moz-box-shadow: inset 0px 0px 3px 2px black;
    box-shadow: inset 0px 0px 3px 2px black;
}
.slide:nth-child(2) {
    padding:0 14px;
}
.slide p {
    font-size: 16px;
}
.slide1 {
    background: url("../img/image1.jpg");
}
.slide2 {
    background: url("../img/image2.jpg");
}
.slide3 {
    background: url("../img/image3.jpg");
}
.slide4 {
    background: url("../img/image4.jpg");
}
.slide5 {
    background: url("../img/image5.jpg");
}
.slide6 {
    background: url("../img/image6.jpg");
}
.footer {
    padding-top: 130px;
    font-size: 11px;
    text-align: center;
}
